# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.gitignore
node_modules/
platforms/
plugins/
hooks/**/*
res/**/*
.vscode/
typings/
my-release-key.keystore
*.keystore
package.json
jsconfig.json

res/drawable-mdpi/screen.png

res/mipmap-mdpi/icon.png

hooks/after_prepare/010_add_platform_class.js

package.json
